<h1>User Audit Log</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Domain</td>
      <td>IP Address</td>
      <td>MAC Address</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
  <%= render partial: "user_table_row", collection: @users, as: :user, cache: true %>
  </tbody>
</table>